body{
    background-color: aliceblue;
    margin: 0% auto;
}
h1 {

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#game-container {
    margin: 0% auto;
    padding-top: 0%;
    padding-left: 33.333%;
    padding-right: 33.333%;
}
.footer{
    background-color: indianred;
    color: #ffffff;
    /* margin: 0% auto; */
    overflow: hidden; 
    text-align: center;
}
#paste_game {
     left: 30%; 
     top: 25%; 
     border: 3px solid #73AD21; 
     font-size: 350%; 
     font-weight: bold; 
     display: flex; 
     align-items: center; 
     justify-content: center;
}
#feedback {
     top: 35%; 
     font-size: 150%; 
     font-weight: bold; 
     background-color:powderblue; 
     display: flex; 
     align-items: center; 
     justify-content: center;
}
#attempts {
     top: 35%; 
     font-size: 150%; 
     font-weight: bold; 
     background-color:powderblue; 
     display: flex; 
     align-items: center; 
     justify-content: center;
}
#guess_area {
     height: 10em; 
     display: flex; 
     align-items: center; 
     justify-content: center;
}
.fixed-bottom {
    background-color: powderblue;
}
.container-main {
    margin: 0% auto;
}